html,body{
    background:#dcd3c9;
    height:100%;
}
#top-image{
    height:100%;
    width:100%;
}
#sidebar{
    height:100%;
}
#white{
    color:white;
    font-size:1.5rem;
}
.top-text{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width:50%;
    color:white;
    padding-top:20%;
    text-align: center;
}
.top-text-mission{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width:50%;
    color:white;
    padding-top:35%;
    text-align: center;
}
#info{
    font-size: 1.3rem;
}
#info-partner{
    font-size:1.3rem;
}
.row{
    margin-top:10px;
    margin-left:12%;
    margin-right:0px;
    height: 100%;
}
.vertical-nav {
    height: 100vh;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
    align-items: center;
    padding-left: 0px;
    padding-right:0px;
}
#about-text{
      padding-left: 15%;
  }
.sub{
      font-size: 2rem;
  }
#sub-item{
    font-size:1.5rem
}
#test{
    background-image: url("https://stillmed.olympic.org/media/Images/OlympicOrg/News/2019/07/24/Tokyo-medals/2019-07-24-medals-thumbnail.jpg");
}
.partner-img{
    max-width:100%;
    max-height:100%;
}
.mission-image{
    max-width: 100%;
    max-height: 100%;
}