<%- include ('./partials/header') %>
<div class="row">
    <section class="col-sm-9" id="about-info">
        <div class="w-50 my-5">
            <span class="display-1">History</span>
        </div>
        <div class="w-75 mt-5">
            <span class="mx-auto mt-5 info">
                <p> 1868, the young engraver Fritz Huguenin and his brother Guillocheur Albert set up a small watch-case
                    design workshop. It wasn’t long before they realised the value that embossing could add to their
                    work. They therefore bought a spindle press, which they used to emboss their first medal in 1888.
                </p>

                <p> time, the Huguenin brothers specialised in the Niel method, which is used to give silver watches a
                    black finish. This method made them famous worldwide and as a result of their new-found success,
                    they switched from manual production to industrial production in 1899, building the factory in Le
                    Locle that is still used today.</p>

                <p>At the same time, their three sons took over the company, expanding the range with new products, such
                    as marksmen decorations. The company was hit hard by the First World War and by the financial crisis
                    of the 1930s, which saw silver pocket watches replaced by stainless steel wristwatches. As a result,
                    it became a limited company in 1934 and in the years that followed, Huguenin Frères et Cie SA
                    enjoyed considerable growth in the fields of watch cases and medals.</p>

                <p>To mark its centenary year in 1968, the company was given a new name. Led by a member of the third
                    generation of the Huguenin family, the revived Huguenin Médailleurs SA entered its second century
                    with renewed confidence and verve.</p>

                <p>In 1992, Huguenin began minting and selling the first coloured coins. After the merger with the
                    Neuchâtel firm Kramer in 1999, Huguenin + Kramer joined forces with Faude in 2002, giving birth to
                    the company Faude & Huguenin SA.</p>

            </span>
        </div>
    </section>
</div>
<%- include ('./partials/footer') %>